html
	overflow auto
html,body,#app
	height 100%
.rightAlign
	text-align right
#aplication_registro,#perfil_registro,#cursos_registro
	height calc(100% - 47px)
#app_registro
	height 100%
	background-image url("/images/bg_registro.jpg")
	background-size cover
	background-repeat no-repeat
	padding-bottom 0 !important
	padding-top 0 !important
	color #fff
	#registro
		height 100%
		background rgba(0,0,0,0.4)
		a:hover
			color #fff
.left,.right
	width 50%
	display flex
.margin
	margin-right 10px
nav
	&.navbar
		border-bottom 1px solid #11464B
		background-color #2094A3
	.form-control
		height 28px
		font-size 10px
		font-weight 900
		padding .375rem .25rem
		&.data_usuario
			width 140px
	img
		width 30px
	input
		max-width 380px
	#menu-search,#menu-login
		width 100%
		display flex
	.navbar-brand
		padding 0
	.link_recovery
		font-size 10px
		color #fff
	.btn
		padding 0.125rem .75rem
		background-color #2882A7
		color #fff
		font-size .6rem
.container_title
	text-align justify
	width 100%
	max-width 400px
	margin 0 auto
	padding-top 100px
	h1
		font-weight 900
		font-size 1.8rem
	h3
		font-size 1.22rem
.create-acount
	background #EDF1F4
	width 100%
	max-width 400px
	margin 0 auto
	margin-top 70px
	margin-left 0
	border-radius 7px
	box-shadow 1px 1px 1px #3a3a3a
	input
		font-weight 900
.panel-body,.panel-heading
	padding 14px 20px
.panel-heading
	background #fff
	color #65727A
	border-bottom 2px solid #a5a5a5
	border-top-left-radius 7px
	border-top-right-radius 7px
	h4
		margin 0
		font-weight 900
		font-size 18px
.black
	color #000
.form-group
	margin-bottom 1.15rem
	margin-top -3px
	&.botonera
		text-align center
.cl_red
	color red
.cl_green
	color green
.btnNootas
	color #fff
	border-radius 0!important
	margin 0 auto
	padding 
.btnRegistro
	background #277EAB
.btnLoginFacebook
	background #3B5998
	font-size 10px
.btnLoginGoogle
	background #DC4B3B
	font-size 10px
.panel-footer
	padding 30px 15px 5px 15px
	border-top 1px solid #a5a5a5
	p
		color  #a5a5a5
		font-size 10px
		text-align justify
.msj_alert
	position absolute
	display none
	font-size 10px
footer
	margin-top 30px
	nav
		display flex
		justify-content center
		ul
			display flex
			justify-content space-evenly
			width 800px
			padding 0
			li
				list-style none
				a
					color #fff
					text-decoration none
					font-size 12px
					&:hover
						color #fff
#perfil_registro,#cursos_registro
	footer
		position absolute
		width 100%
		border-top 1px solid #a5a5a5
		nav ul li a
			color #3a3a3a
	#frmDatosSociales
		width 100%
	#form_perfil_registro,#clave_datos_recuperados,#clave_datos_recuperados .form-group,#boton_datos_recuperados
		width 400px
		display block
		margin 20px auto
	#clave_datos_recuperados
		padding-right 0
		padding-left 0
	#datos_recuperados
		width 100%
		background-color #c4e5e6
		padding 10px 0
		bordert-top 1px solid #9fbbbc
		bordert-bottom 1px solid #9fbbbc
		.form-group
			width 400px
			display block
			margin 20px auto
	h1
		font-size 20px
		font-weight 900
		text-align center
	p
		text-align center
	.mb_10
		margin-bottom 10px
#cursos_registro span.closeFilterCurso
	position absolute
.row
	margin-left 0
	margin-right 0
@media (max-width: 1200px)
	.left
		width 40%
		padding 0px 10px
	.right
		width 60%
		padding 0px 10px
@media (max-width: 997px)
	nav
		.form-group
			margin-bottom .4rem
		.link_recovery
			font-size 8px
	.navbar
		padding .5rem 0rem
	.create-acount,.container_title
		width 100%
		max-width 400px
	.left
		width 30%
		padding 0px 10px
	.right
		width 70%
		padding 0px 10px
	.container_title
		h1
			font-size 1.6rem
			text-align left
		h3
			font-size 1.2rem
			font-weight normal
@media (max-width: 768px)
	.left,.right
		width 100%
		margin-bottom 5px
	nav #menu-login .form-inline
		display flex
		justify-content center
	nav input
		margin auto
	.create-acount,.container_title
		width 100%
		max-width 370px
		display block
		margin 0 auto
	.panel-heading,.panel-body,.panel-footer
		padding 10px
	.botonera .btn
		padding .375rem .75rem
		font-size .6rem
	.btn
		padding .375rem .25rem
		font-size 8px
	.container_title
		padding-top 20px
		h1
			margin-bottom 15px
	.container_title h3
		font-size 1rem
		font-weight normal
	footer nav ul
		width 100%
		li
			width 33.333333%
			display block
	#perfil_registro,#cursos_registro
		#form_perfil_registro,#clave_datos_recuperados,#clave_datos_recuperados .form-group,#boton_datos_recuperados
			width 360px
			padding 0 5px
		#datos_recuperados
			.form-group
				width 360px
				padding 0 5px
@media (max-width: 370px)
	#app_registro
		height initial
		background-position center
	.container_title h1
		font-size 1.2rem
		text-align center
	footer nav ul
		display block
		li
			width 100%
			text-align center
@media (min-width: 768px)
	.container
		max-width 820px
@media (min-width: 1200px)
	.container
		max-width 1140px